<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Alexandra Mena | Business Engineering</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/logo.png" alt="Chaoo" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/profile-pic.jpg" alt="Alexandra Mena" class="profile-pic nav-link" />
              <span class="caption nav-link">Alexandra Mena</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Business Management</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="https://www.facebook.com/ale.mena.92351" target="_blank" class="nav-link">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/alexandramena02/" target="_blank" class="nav-link">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/alemena01" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <div class="cta">
            <a href="https://www.esen.edu.sv/ingenieria-de-negocios/" target="_blank" class="btn nav-link">More about
              Business Engineering</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Alexandra Mena</h2>
          <h3>Business Engineering</h3>
          <p>Economics . Sustainable development . Optimization</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Get In Touch</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">Experience</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/profile-pic.jpg" alt="Chaoo Charles" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Hello 💰📊♻️</h2>
          <p>
            My name is Alexandra Mena and I'm a twenty year old
            Business Engineer undergraduate student. I'm completing
            my studies at the Escuela Superior de Economía y Negocios
            in El Salvador. I will be part of the 2023 generation
            of graduates.
          </p>
          <p>
            On the way of learning, I have acquired knowledge in areas
            such as excel administration, process engineering, database
            management and finances. In the future, I expect to specialize
            on sustainable development oriented to economics.
          </p>
          <p>
            I love languages, italian pasta, the beach, New York City,
            cooking and traveling. I consider myself as extremely resilent
            and extroverted, and my best quality is, by far, working
            under pressure and making friends.
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>BUSINESS MANAGEMENT</h2>
          <p>
            Creating a remarkable path for the right developement
            of your enterprises, focusing on two subjects.
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h2>Economical growth</h2>
            <p>
              Businesses are always looking for improvement in order to
              achive higher monetary goals. Financial independence,
              sustainability through time and positive balance are
              some of the basic axles that CEO's have to consider.
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h2>Sustainable development </h2>
            <p>
              At the same time that we move in this globalized
              world, we co-exist with ecosystems that
              must be protected in order to assure our survival
              in a future. Preservation of natural resources and
              implementation of clean energies must be considered
              while running an enterprise.
            </p>
          </div>
          <!-- 
                <div class="tier-item">
                  <i class="fa fa-file-code-o" aria-hidden="true"></i>
                  <h2>PSD to HTML</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                    quasi earum, debitis exercitationem quod labore quae, saepe
                    voluptatum fugiat placeat iste, numquam maxime? Aliquam
                    explicabo, reiciendis corrupti voluptatum eum esse?
                  </p>
                </div>
                -->
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>PROJECTS</h2>
        <p>My recent projects</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/sppms.png" />
        </div>
        <div class="project-description">
          <h2>Business Process Managment MTZ Brewing Company</h2>
          <p>
            On 2020, in the middle of the economical crisis caused by
            the pandemic in El Salvador, four colleges and I made an
            exhaustive analysis of all the production stages of the
            MTZ Brewing Company, in order to improve performance and
            solve specific problems.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Banco Davivienda Volunteer</h2>
          <p>
            On 2019, Banco Davivienda El Salvador organized multiple
            projects to preserve natural ecosystems in the country,
            through education, awarness and masive cleaning campaigns
            on beach shores, streets and forests. I am an active member
            until nowadays of this initiative.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
        <div class="project-img">
          <img src="/static/images/to-do.png" />
        </div>
      </div>

      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/calculator.png" />
        </div>
        <div class="project-description">
          <h2>HOPE El Salvador Active Member Associate</h2>
          <p>
            HOPE El Salvador is an association that was created by students
            of the Escuela Superior de Economía y Negocios back in 2010.
            Its purpuse: create awarness about childhood cancer and give
            emotional support to families and patients. Since January of
            the present year, I am an active member in the area of education
            and awarness.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>
      <hr />
    </section>


    <section id="contact" class="contact">
      <h2>Get In Touch</h2>
      <p>
        Do not hesitate to contact me whenever you are in need to,
        I will always try to help solve your business issues.
      </p>
      <p>For more information about myself, you can visit my personal
        accounts by clicking on the links below or send an e-mail directly
        to me. I will answer all of your questions, don't be afraid to ask.</p>
      <div class="container">
        <p>
          <a href="mailto:alexandramenaoca@hotmail.com"><i class="fas fa-envelope-open"></i>
            alexandramenaoca@hotmail.com</a>
        </p>
        <p>
          <a href="https://www.facebook.com/ale.mena.92351" target="_blank"><i class="fab fa-facebook"> Facebook</i></a>
        </p>
        <p>
          <a href="https://www.instagram.com/alexandramena02/" target="_blank"><i class="fab fa-instagram">
              Instagram</i></a>
        </p>
        <p>
          <a href="https://twitter.com/alemena01" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Business Management</a>
        <a href="projects" class="footer-nav-link">Projects</a>
        <a href="#contact" class="footer-nav-link">Contact</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> with 💙 by Alexandra Mena &copy; 2020
        </p>
        <p>Built with pure HTML, CSS and JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="https://www.facebook.com/ale.mena.92351" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/alexandramena02/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/alemena01" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>